.App {
  /*text-align: center;*/
}

.App-logo {
  /*height: 40vmin;*/
  /*pointer-events: none;*/
}

.item {
    /*border: 1px solid lightgray;*/
}

.container {
    /*border: 1px solid lightgray;*/
    padding: 0 40px 0 40px;
    align-items: center;
}

.cardImage {
    height: 100%;
    width: 50%;
}

.cardButton {
    background: #d73d3d !important;
    color: #fff !important;
    border-radius: 0 !important;
    padding: 10px !important;
}

.cardSubtitle {
    color: #d73d3d !important;
    margin-left: 20px;
}

.videoText {
    color: #d73d3d;
}

.cardHeader{
    font-size: 35px;
}

.crouselText{
    font-size: 35px;
    margin-bottom: 40px;
}

.cardContainer {
    background: #f6f0f0;
    align-items: center;
    margin-top: 20px;
}

.cardContainerReverse {
    flex-direction: row-reverse !important;
    background: #f6f0f0;
    align-items: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: flex;
    padding: 16px;
}

.footer {
    background: #d73d3d;
    height: 50px;
}

.myCarousel {
    width: 400px;
    height: 300px;
}